<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />        
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WPFGrowerApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <log4net>
        <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="logs/BerryFarms.log" />
            <appendToFile value="true" />
            <rollingStyle value="Date" />
            <datePattern value="yyyyMMdd" />
            <maxSizeRollBackups value="30" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
            </layout>
        </appender>

        <root>
            <level value="INFO" /> 
            <appender-ref ref="FileAppender" />
        </root>
    </log4net>
  <!--
    <connectionStrings>
      <add name="DefaultConnection"
             connectionString="Server=DESKTOP-LQ92Q06;Database=SouthAlder;User Id=localDB;Password=528sql@JK;TrustServerCertificate=True;"
              providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Server=localhost;Database=BerryFarmsModern;Integrated Security=True;TrustServerCertificate=True;"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>

    <userSettings>
        <WPFGrowerApp.Properties.Settings>
            <setting name="LastUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberedPassword" serializeAs="String">
                <value></value>
            </setting>
        </WPFGrowerApp.Properties.Settings>
    </userSettings>

</configuration>
